@font-face {
  font-family: 'Inclusive Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/inclusive/inclusivesans-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inclusive Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/inclusive/inclusivesans-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Redhat';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local(''),
    url('/assets/fonts/redhat/red-hat-display-v7-latin-900.woff2') format('woff2');
}



@font-face {
  font-family: 'copernicus';
  src: url('/assets/fonts/177b7db6a26ff4c3-s.p.woff2') format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'copernicus';
  src: url('/assets/fonts/8e81091e64ffbb65-s.p.woff2') format("woff2");
  font-display: swap;
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: 'styreneA';
  src: url('/assets/fonts/d7440d3c533a1aec-s.p.woff2') format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'styreneA';
  src: url('/assets/fonts/2d21c5135ef46b39-s.p.woff2') format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: 'styreneA';
  src: url('/assets/fonts/db2277a4dc542e54-s.p.woff2') format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: 'styreneA';
  src: url('/assets/fonts/cfe503504e29ad5d-s.p.woff2') format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-family: 'styreneB';
  src: url('/assets/fonts/5dd0369324c6e67e-s.p.woff2') format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'styreneB';
  src: url('/assets/fonts/afcde17c90040887-s.p.woff2') format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'tiemposText';
  src: url('/assets/fonts/c1cf232a330ed002-s.p.woff2') format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'tiemposText';
  src: url('/assets/fonts/0a03b2d3f2326303-s.p.woff2') format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: 'tiemposText';
  src: url('/assets/fonts/844eb89fa4effbb2-s.p.woff2') format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'tiemposText';
  src: url('/assets/fonts/42c6973fffeb4919-s.p.woff2') format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: italic
}

@font-face {
  font-family: 'SoehneMono';
  src: url('/assets/fonts/soehne-mono-buch.woff2') format("woff2");
  font-display: swap;
}