<link
  rel="preload"
  href="/assets/fonts/db2277a4dc542e54-s.p.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/cfe503504e29ad5d-s.p.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/5dd0369324c6e67e-s.p.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/afcde17c90040887-s.p.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/c1cf232a330ed002-s.p.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/0a03b2d3f2326303-s.p.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/844eb89fa4effbb2-s.p.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/42c6973fffeb4919-s.p.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link
  rel="preload"
  href="/assets/fonts/TarnacSans-Bold.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link
  rel="preload"
  href="/assets/fonts/PitchSansWeb-Medium (1).woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link
  rel="preload"
  href="/assets/fonts/PitchSansWeb-MediumItalic (1).woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<!-- preloads in page data -->
{%- if preloads -%}
  <!-- prettier-ignore -->
  <link rel="preload"
			href="{{ preloads.href }}"
			as="{{ preloads.as }}"
			{% if preloads.type %}type={{ preloads.type }}{% endif %}{% if preloads.imagesrcset %}imagesrcset="{{ preloads.imagesrcset }}"{% endif %}
			{% if preloads.crossorigin %}crossorigin{% endif %} />
{% endif %}
